<form action="/update/<%= data.id%>" method="post">
	<table align="center" border>
		<tbody>
			<tr>
				<td>idVenta</td>
				<td><input type="text" value="<%= data.idVenta %>" name="idVenta" placeholder="idVenta"></td>
			</tr>
			<tr>
				<td>idCliente</td>
				<td><input type="text" value="<%= data.idCliente %>" name="idCliente" placeholder="idCliente"></td>
			</tr>
			<tr>
				<td>cantidadVenta/td>
				<td><input type="text" value="<%= data.cantidadVenta %>" name="cantidadVenta" placeholder="cantidadVenta"></td>
			</tr>
			<tr>
				<td>subtotal/td>
				<td><input type="text" value="<%= data.subtotal %>" name="subtotal" placeholder="subtotal"></td>
			</tr>
			<tr>
				<td>fecha/td>
				<td><input type="text" value="<%= data.fecha %>" name="fecha" placeholder="Fecha"></td>
			</tr>
			<tr>
				<td>hora/td>
				<td><input type="text" value="<%= data.hora %>" name="hora" placeholder="Hora"></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Actualiza cliente</button></td>
			</tr>
		</tbody>
	</table>
</form>